{% extends widget.get_base_template %}
{% load i18n %}

{% block content %}

<h2>Autorská práva</h2>

<p>Vlastníkem a provozovatelem internetových stránek <a href="/">{{ widget.domain_name }} je společnost {{ widget.company }}, která je v souladu se zák. č. 121/2000 Sb., autorský zákon, oprávněna vykonávat majetková práva k těmto internetovým stránkám (dále jen „Provozovatel“).</p>
<p>Provozovateli náleží všechna autorská práva k veškerému obsahu, který Provozovatel umísťuje na stránkách {{ widget.domain_name }}, včetně textu, designu stránek, technických náčrtů, grafiky, veškerých vyobrazení na těchto stránkách, jakož i k výběru a způsobu uspořádání souborů obsažených na těchto stránkách.</p>
<p>Práva a povinnosti Provozovatele a uživatelů při používání těchto stránek se řídí těmito Pravidly. Tato Pravidla se vztahují na všechny osoby, které navštíví tyto stránky (dále jen „Uživatelé“). Uživatel vyjádří souhlas s těmito Pravidly tím, že vstoupí na kteroukoliv z www stránek Provozovatele či jakýmkoliv způsobem užije jakoukoliv informaci umístěnou v rámci www stránek Provozovatele.</p>
<p>Zveřejnění jakýchkoliv údajů či informací na stránkách {{ widget.domain_name }}, s výjimkou tohoto dokumentu, nemá povahu žádného právního úkonu, nebude-li v jednotlivých případech výslovně stanoveno jinak.</p>

<h2>Ochrana dat</h2>

<h3>Shromažďované informace a jejich využití</h3>
<p>Přístup na stránky {{ widget.domain_name }} může být ze strany Provozovatele podmíněn poskytnutím některých osobních údajů Uživatele ve smyslu zák. č. 101/2000 Sb., o ochraně osobních údajů a případně i jiných zákonů, v platném znění. V takovém případě bude Provozovatel s těmito údaji nakládat v souladu s platnými právními předpisy.</p>

<h3>Předávání osobních údajů</h3>
<p>Provozovatel spolupracuje se společnostmi, které mu poskytují různé služby. Tyto společnosti, pokud jsou k tomu oprávněné, mohou nakládat s osobními údaji Uživatele, přičemž s těmito informacemi pracují pouze při plnění svých povinností a nesmí je použít k jinému účelu. Provozovatel neprodává, nepřevádí a nesděluje osobní údaje třetím stranám.</p>
<p>Provozovatel si však vyhrazuje právo použít nebo předat jakýkoli údaj, který bude potřebný k naplnění právních předpisů, k ochraně integrity sítě, ke splnění požadavku Uživatele nebo při soudním vyšetřování a vyšetřování ve veřejném zájmu.</p>

{% if widget.resources %}
<h3>Zdroje pro získání osobních údajů</h3>
{{ widget.resources|safe }}
<p>Pokud si Uživatel přeje opravit osobní data, které o něm Provozovatel má, může jej o to požádat na emailové adrese {{ widget.email_address }} nebo na poštovní adrese uvedené na stránce Kontakty či stránce o autorských právech.</p>
{% endif %}

<h2>Kódy třetích stran</h2>
{% if config.GOOGLE_ANALYTICS_INFO %}
<p>Na tomto webu používáme kódy od společností Google, které nám pomáhají analyzovat chování návštěvníků webu.</p>
<h3>Universal Analytics</h3>
<p>Tyto stránky využívají službu Universal Analytics  (Google Analytics), poskytovanou společností Google, Inc. (dále jen „Google“). Služba Universal Analytics používá souborů „cookies„, které jsou textovými soubory ukládanými do vašeho počítače, umožňující analýzu způsobu užívání této stránky jejími uživateli. Informace vygenerované souborem cookie o užívání stránky (včetně vaší IP adresy) budou společností Google přeneseny a uloženy na serverech ve Spojených státech.</p>
<p>Google bude užívat tyto informace pro účely vyhodnocování užívání stránky a vytváření zpráv o její aktivitě, určených pro její provozovatele, a pro poskytování dalších služeb týkajících se činností na stránce a užívání internetu vůbec. Google může také poskytnout tyto informace třetím osobám, bude-li to požadováno zákonem nebo budou-li takovéto třetí osoby zpracovávat tyto informace pro Google. Google nebude spojovat vaši IP adresu s jakýmikoli jinými daty, která má k dispozici. Používáním této stránky souhlasíte se zpracováváním údajů o vás společností Google, a to způsobem a k účelu shora uvedeným.</p>
<p>Detailní informace o Google Analytics a ochraně osobních údajů naleznete na http://www.google.com/intl/cs/privacy/privacy-policy.html.</p>
<p>Pokud chcete zabránit sledování, můžete instalovat doplněk do vašeho webového prohlížeče (http://tools.google.com/dlpage/gaoptout).</p>
{% else %}
<p>Nepoužíváme žádné kódy třetích stran.</p>
{% endif %}

<h2>Cookies</h2>
<p>Webové stránky {{ widget.domain_name }} využívají soubory cookies. Cookies jsou malé textové soubory, které se ukládají ve vašem PC, tabletu nebo smartphonu. Některé z těchto souborů jsou nezbytné pro optimální fungování stránek, jiné nám pomáhají webové stránky analyzovat nebo nám umožňují zajistit lepší uživatelský zážitek (zapamatovat si uživatele a uspořádat obsah stránek dle jeho preferovaných zájmů, což vede k ulehčení prohlížení stránek uživatelem).</p>
<p>Tyto stránky používají jak dočasné soubory cookies, které jsou uloženy v zařízení uživatele jen po dobu trvání relace, tak trvalé soubory cookies, které zůstávají uloženy v zařízení uživatele v závislosti na nastavené době existence konkrétního souboru cookie.</p>

<h4>Cookies použité na stránkách</h4>
<p><b>Google Analytics – analytické účely</b></p>
<p>Google Analytics je analytický nástroj společnosti Google, který pomáhá majitelům webových stránek a aplikací porozumět, jakým způsobem návštěvníci stránky a aplikace využívají. Může používat sadu souborů cookies ke shromažďování informací a vytváření přehledů o používání webových stránek bez toho, aby se společnost Google dozvěděla jakékoli osobní identifikační údaje jednotlivých návštěvníků.</p>
<p>Kromě vytváření přehledů o statistice využití webových stránek lze Universal Analytics společně s některým ze souborů cookie použít k zobrazení relevantnějších reklam ve službách Google (např. Vyhledávání Google) a na webu.</p>

<h3>Další informace o souborech cookie služby Analytics a ochraně osobních údajů.</h3>

<h4>Nastavení (odstranění) cookies</h4>
<p>Cookies jsou ve většině prohlížečů ve výchozím nastavení povoleny. Pokud nechce uživatel cookies používat nebo pokud chce, aby internetový prohlížeč použití cookies oznámil, musí provést potřebná nastavení ve svém internetovém prohlížeči. Více informací o tom, jak zapnout a vypnout soubory cookies a jak je odstranit, najdete v nápovědě ve vašem prohlížeči.</p>
<p>Nastavení zákazu použití cookies může znamenat omezení nebo nedostupnost některých funkcionalit těchto stránek.</p>

<h2>Odkazy na jiné stránky</h2>
<p>Na stránkách {{ widget.domain_name }} jsou uvedeny odkazy na stránky, nad nimiž nemá Provozovatel kontrolu. Pokud Uživatel navštíví některou z těchto stránek, měl by se seznámit s jejich zabezpečením ochrany osobních údajů. Provozovatel nenese jakoukoliv odpovědnost za postupy a politiku jiných společností.</p>

<h2>Změny v politice ochrany osobních dat</h2>
<p>Provozovatel si vyhrazuje právo jakkoliv a kdykoliv měnit svoji politiku ochrany osobních dat, přičemž aktuální stav bude vždy umístněn na těchto stránkách.</p>

<h3>Chování uživatelů</h3>
<p>Při používání těchto stránek Uživatel nesmí zasahovat do bezpečnosti těchto stránek, nemůže tyto stránky využívat k přenášení škodlivých souborů a snažit se proniknout do veřejně nepřístupných míst těchto stránek. Uživatel je rovněž povinen ctít autorská práva Provozovatele k těmto stránkám.</p>

<h3>Odpovědnost a právní příslušnost</h3>
<p>Případná rizika plynoucí Uživateli z používání těchto stránek, jsou zcela na Uživateli a Provozovatel za ně nenese jakoukoliv odpovědnost. Veškeré spory vzniklé v souvislosti s využíváním těchto stránek, budou projednávány místně příslušným soudem v České republice a v souladu se zákony České republiky.</p>
<p>Ustanovení těchto podmínek, které se z jakéhokoliv důvodu stanou nevymahatelné, budou považována za oddělitelná od zbývajících ujednání a na jejich platnost a vymahatelnost nebudou mít vliv.</p>

<h2>Prohlášení o přístupnosti</h2>
<p>Provozovatel www stránek prohlašuje, že tyto stránky se snaží o maximální přístupnost obsahu i všech svých funkčností pro všechny uživatele internetu.<p>
<p>Obsahová stránka prezentace je vytvořena HTML 5, vizuální stránka prezentace pak s využitím CSS3.</p>

<h2>Doporučená rozšíření prohlížeče</h2>
<p>Ve formátu PDF nabízíme některé dokumenty a doplňující informace, které jsou příliš rozsáhlé a je vhodné jejich stažení. Pro zobrazení těchto dokumentů je třeba mít nainstalovaný prohlížeč Adobe Reader, který je zdarma ke stažení na stránkách společnosti  Adobe Systems, Inc.</p>
<p>Část dokumentů je zveřejněna v některém z formátů aplikací Microsoft Office. Pro všechny tyto formáty je na stránkách společnosti Microsoft k dispozici prohlížeč, který si můžete zdarma stáhnout a nainstalovat na Váš počítač; případně si můžete zdarma stáhnout kancelářský balík Open Office.</p>

<h2>Informace o autorovi webu</h2>
<p>{% if widget.made_by %}WWW stránky {{ widget.made_by }}.{% endif %} Stránky spravuje {{ widget.company }}. Prezentace / portál je provozován(-a) na publikačním systému LeonardoCMS. V případě dotazů nebo nalezení technických problémů je možné kontaktovat autory e-mailem na {{ widget.email_address }}.</p>

{% endblock %}